body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    height: 40px; /* Adjust the height as necessary */
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-right: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #007bff !important;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.header {
    position: relative;
    height: 100vh;
    background: url('../images/car.jpeg') no-repeat center center/cover;
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(0.7);
}

.hero-section {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

section {
    padding: 60px 0;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.25rem;
}

#features h2{
    padding-top: 20px;
}

#features .card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

#features .card:hover {
    transform: translateY(-10px);
}

#features .card i {
    color: #007bff;
}

#about {
    background-color: #f8f9fa;
}

#contact .form-control {
    margin-bottom: 15px;
}

#contact button {
    background-color: #007bff;
    border: none;
}

#contact button:hover {
    background-color: #0056b3;
}
